---
layout: default
---
<header class="hero is-dark is-medium is-bold has-text-centered">
  <div class="hero-image-container">
    <div class="container is-fluid">
      <div class="columns is-centered">
        <div class="column is-full-mobile is-one-half-tablet is-one-third-desktop">
          <figure class="image is-1by1">
            <img src="https://res.cloudinary.com/caplan/image/upload/e_blur:10,w_3000,h_3000/e_make_transparent:40/e_outline:8:4,co_rgb:222/w_600,h_600/u_emea-on-rails-2021:logo,w_600,h_600/r_max,c_thumb,f_auto,q_auto/v1619715827/emea-on-rails-2021/logo.png" />
          </figure>
        </div>
      </div>
    </div>
  </div>
</header>

<section class="section">
  <div class="container">
    {{ content }}
  </div>
</section>
