@import "~bulmatown/frontend/styles";

header.hero.is-dark.is-bold {
  background-image: url("https://res.cloudinary.com/caplan/image/upload/w_1920,dpr_auto,q_auto,f_auto,e_blur:300/e_brightness:-60/v1619476364/emea-on-rails-2021/auditorium-86197_1920.jpg");
  @media (max-width: 1216px) {
    background-image: url("https://res.cloudinary.com/caplan/image/upload/w_1216,dpr_auto,q_auto,f_auto,e_blur:300/e_brightness:-60/v1619476364/emea-on-rails-2021/auditorium-86197_1920.jpg");
  }
  @media (max-width: 948px) {
    background-image: url("https://res.cloudinary.com/caplan/image/upload/w_948,dpr_auto,q_auto,f_auto,e_blur:300/e_brightness:-60/v1619476364/emea-on-rails-2021/auditorium-86197_1920.jpg");
  }
  @media (max-width: 642px) {
    background-image: url("https://res.cloudinary.com/caplan/image/upload/w_642,dpr_auto,q_auto,f_auto,e_blur:300/e_brightness:-60/v1619476364/emea-on-rails-2021/auditorium-86197_1920.jpg");
  }
  @media (max-width: 320px) {
    background-image: url("https://res.cloudinary.com/caplan/image/upload/w_320,dpr_auto,q_auto,f_auto,e_blur:300/e_brightness:-60/v1619476364/emea-on-rails-2021/auditorium-86197_1920.jpg");
  }
}

.hero-image-container {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

nav.navbar:not(.is-transparent) {
  background-image: linear-gradient(180deg, #54b4eb 0%, #3f84c4 60%, #235c96 100%);
}

.clamp-6-lines {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
  overflow: hidden;
}

@media (min-width: 768px) {
  .min-2-line-height-mobile {
    min-height: 40px;
  }
}
