@import "~bulmatown/frontend/styles";

header.hero.is-dark.is-bold {
  background-image: url("https://res.cloudinary.com/caplan/image/upload/w_1920,dpr_auto,q_auto,f_auto,e_blur:300/e_brightness:-60/v1619476364/emea-on-rails-2021/auditorium-86197_1920.jpg");
  @media (max-width: 1216px) {
    background-image: url("https://res.cloudinary.com/caplan/image/upload/w_1216,dpr_auto,q_auto,f_auto,e_blur:300/e_brightness:-60/v1619476364/emea-on-rails-2021/auditorium-86197_1920.jpg");
  }
  @media (max-width: 948px) {
    background-image: url("https://res.cloudinary.com/caplan/image/upload/w_948,dpr_auto,q_auto,f_auto,e_blur:300/e_brightness:-60/v1619476364/emea-on-rails-2021/auditorium-86197_1920.jpg");
  }
  @media (max-width: 642px) {
    background-image: url("https://res.cloudinary.com/caplan/image/upload/w_642,dpr_auto,q_auto,f_auto,e_blur:300/e_brightness:-60/v1619476364/emea-on-rails-2021/auditorium-86197_1920.jpg");
  }
  @media (max-width: 320px) {
    background-image: url("https://res.cloudinary.com/caplan/image/upload/w_320,dpr_auto,q_auto,f_auto,e_blur:300/e_brightness:-60/v1619476364/emea-on-rails-2021/auditorium-86197_1920.jpg");
  }
}

.hero-image-container {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

nav.navbar:not(.is-transparent) {
  background-image: linear-gradient(180deg, #54b4eb 0%, #3f84c4 60%, #235c96 100%);
}

.clamp-6-lines {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
  overflow: hidden;
  max-height: 8.8em;
}

@media (min-width: 768px) {
  .min-2-line-height-mobile {
    min-height: 40px;
  }
}

// Ribbons for homepage, based on https://codepen.io/nxworld/pen/oLdoWb but with colors changed
.ribbon {
  width: 150px;
  height: 150px;
  overflow: hidden;
  position: absolute;
}
.ribbon::before,
.ribbon::after {
  position: absolute;
  z-index: -1;
  content: '';
  display: block;
  border: 5px solid #a2271c;
}
.ribbon span {
  position: absolute;
  display: block;
  width: 225px;
  padding: 15px 0;
  background-color: #ad3f3e;
  box-shadow: 0 5px 10px rgba(0,0,0,.1);
  color: #fff;
  font: 700 18px/1 'Lato', sans-serif;
  text-shadow: 0 1px 1px rgba(0,0,0,.2);
  text-transform: uppercase;
  text-align: center;
}
.ribbon-top-right {
  top: -10px;
  right: -10px;
}
.ribbon-top-right::before,
.ribbon-top-right::after {
  border-top-color: transparent;
  border-right-color: transparent;
}
.ribbon-top-right::before {
  top: 0;
  left: 0;
}
.ribbon-top-right::after {
  bottom: 0;
  right: 0;
}
.ribbon-top-right span {
  left: -25px;
  top: 30px;
  transform: rotate(45deg);
}
