<tr class="{% if title == "Break" %}break{% endif %}">
  <th>{{ time }} UTC / <span class="hidden zoned-time" data-time="2021-06-09T{{ time }}:00Z"></span></th>
  <td colspan="4">{{ title }}{% if title == "Break" %} ☕️ {% endif %}</td>
</tr>
