<div class="block has-text-centered">
<button
  href="https://lu.ma/event/evt-zcbXUT9G4Y1sVBd"
  class="luma-checkout--button button is-primary is-rounded"
  data-luma-action="checkout"
  data-luma-event-id="evt-zcbXUT9G4Y1sVBd"
>
  Sign Me Up!
</button>
</div>
